<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>281343926607-cqv1q7cquut9mk814csvt40s6jlodber.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281343926607-cqv1q7cquut9mk814csvt40s6jlodber</string>
	<key>API_KEY</key>
	<string>AIzaSyCiY7eyMpnJBHGmFkoE8eApWPbfcVlPl3c</string>
	<key>GCM_SENDER_ID</key>
	<string>281343926607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cocosbox.firebase</string>
	<key>PROJECT_ID</key>
	<string>cocosfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>cocosfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:281343926607:ios:d1d9ff7df86126e5</string>
	<key>DATABASE_URL</key>
	<string>https://cocosfirebase.firebaseio.com</string>
</dict>
</plist>